@import url(https://use.typekit.net/gpn2grf.css);
p {
    font-size: 1.25rem;
    font-size: var(--display-small);
    line-height: 1.4;
    letter-spacing: -.1px;
    margin: 0
}
@media (max-width:767px) {
    p {
        font-size: 18px;
        line-height: 1.22
    }
}
.A {
    position: relative;
    padding: 0;
    color: #2281c2;
    color: var(--color-blue-600);
    font-weight: 600;
    font-weight: var(--weight-semibold);
    line-height: 1.33;
    letter-spacing: -.1px;
    text-decoration: none
}
.A:not(:disabled) {
    cursor: pointer
}
.A:active, .A:focus, .A:hover {
    color: #2c96df;
    color: var(--color-blue-400)
}
.A[disabled] {
    color: #c7c9cb;
    color: var(--color-grey-200);
    pointer-events: none
}
.A--sm {
    font-size: .75rem;
    font-size: var(--display-xxsmall);
    padding: 0px 0.5rem 2px 0.5rem;
}
.A--sm:last-of-type {
    padding-bottom: 0.5rem;
}
.Avatar {
    display: flex;
    flex-shrink: 0
}
.Avatar--profile {
    width: 128px;
    height: 128px
}
.Button {
    border: none;
    border-radius: 4px;
    font-weight: 600;
    font-weight: var(--weight-semibold);
    letter-spacing: -.1px;
    color: #fff;
    color: var(--color-white);
    text-decoration: none;
    background-color: initial;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
.Button:not(:disabled) {
    cursor: pointer
}
.Button--lg {
    padding: 10px 30px;
    font-size: 1.25rem;
    font-size: var(--display-small);
    line-height: 1.4
}
.Button--block {
    display: block;
    width: 100%
}
.Button--secondary {
    background: none;
    border: 1px solid #2281c2;
    border: 1px solid var(--color-blue-600);
    color: #2281c2;
    color: var(--color-blue-600)
}
.Button--secondary:not(.Button--action):not(:disabled):focus, .Button--secondary:not(.Button--action):not(:disabled):hover {
    background: #2c96df;
    background: var(--color-blue-400);
    border: 1px solid #2c96df;
    border: 1px solid var(--color-blue-400);
    color: #fff;
    color: var(--color-white)
}
.Button--secondary:not(.Button--action):not(:disabled):active {
    background: #196091;
    background: var(--color-blue-800);
    border: 1px solid #196091;
    border: 1px solid var(--color-blue-800);
    color: #fff;
    color: var(--color-white)
}
@media only screen and (max-width:64em) {
    .Button--lg:not(.Button--select):not(.Button--action) {
        padding: 9.5px 16px;
        font-size: .9375rem;
        font-size: var(--display-xsmall);
        line-height: 1.33
    }
}
@media only screen and (max-width:30em) {
    .block-xs {
        width: 100%
    }
}
button {
    font-family: proxima-nova, sans-serif!important
}

html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}
body {
    margin: 0
}
a {
    background-color: initial;
    -webkit-text-decoration-skip: objects
}
img {
    border-style: none
}
button {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    overflow: visible;
    text-transform: none
}
[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button
}
[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
    border-style: none;
    padding: 0
}
[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
    outline: 1px dotted ButtonText
}
:root {
    --display-big: 3.375rem;
    --display-xxlarge: 2.375rem;
    --display-xlarge: 2.750rem;
    --display-large: 2.125rem;
    --display-medium: 1.5rem;
    --display-small: 1.25rem;
    --display-xsmall: 0.9375rem;
    --display-xxsmall: 0.75rem;
    --display-tiny: 0.625rem;
    --weight-semibold: 600;
    --weight-regular: 500;
    --weight-normal: 400;
    --weight-light: 300;
    --color-blue-800: #196091;
    --color-blue-600: #2281c2;
    --color-blue-400: #2c96df;
    --color-blue-200: #8cccfa;
    --color-blue-75: #c9e9ff;
    --color-blue-50: #eaf6ff;
    --color-blue-10: #f5f7f8;
    --color-turquoise-800: #02b8c1;
    --color-turquoise-400: #00cee1;
    --color-green-800: #01834a;
    --color-green-600: #02af63;
    --color-green-400: #06cc75;
    --color-green-50: #d7f8e7;
    --color-red-800: #b73b3c;
    --color-red-600: #d34547;
    --color-red-400: #e84e50;
    --color-red-50: #fae1e2;
    --color-pink-600: #ed456f;
    --color-pink-400: #fa596e;
    --color-orange-600: #f6852f;
    --color-orange-400: #f6a42f;
    --color-orange-50: #fef1e6;
    --color-yellow-400: #f5be00;
    --color-yellow-600: #f5be00;
    --color-azure-800: #263849;
    --color-purple-400: #8355e1;
    --color-grey-800: #212732;
    --color-grey-600: #595d66;
    --color-grey-400: #909398;
    --color-grey-200: #c7c9cb;
    --color-grey-150: #ddd;
    --color-grey-100: #e8e9ea;
    --color-grey-50: #f0f1f1;
    --color-grey-25: #f9f9fa;
    --color-white: #fff;
    --color-black: #000
}
body {
    font-family: proxima-nova, sans-serif;
    -webkit-font-smoothing: antialiased;
    line-height: 1.3
}
.m-t-8 {
    margin-top: 8px!important
}
.m-t-16 {
    margin-top: 16px!important
}
.m-t-36 {
    margin-top: 36px!important
}
.flex-column {
    display: flex;
    flex-direction: column
}
.ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis
}
.ellipsis, .overflow-hidden {
    overflow: hidden
}
body {
    font-family: proxima-nova, sans-serif;
    -webkit-font-smoothing: antialiased;
    line-height: 1.3
}
:root {
    --text-color: #000;
    --text-font: "proxima-nova";
    --background-gradient-start: #aaa;
    --background-gradient-end: #fff;
    --background: linear-gradient(var(--background-gradient-start), var(--background-gradient-end))
}
.center {
    text-align: center;
    -webkit-align-items: center;
    align-items: center
}
.center, .center-row {
    -webkit-justify-content: center;
    justify-content: center
}
.center-row {
    display: -webkit-flex;
    display: flex
}
.LinkGallery__content .Button {
    font-family: var(--text-font), "sans-serif"!important
}
.LinkGallery__content .LinkGallery__content--buttons-transparent.Button {
    border-color: var(--text-color);
    color: var(--text-color)
}
.LinkGallery__content .LinkGallery__content--buttons-transparent.Button--secondary:not(.Button--action):not(:disabled):hover {
    background: var(--text-color);
    border-color: var(--text-color);
    color: var(--background-gradient-start)
}
.LinkGallery__content .LinkGallery__content--buttons-transparent.Button--secondary:not(.Button--action):not(:disabled):active, .LinkGallery__content .LinkGallery__content--buttons-transparent.Button--secondary:not(.Button--action):not(:disabled):focus {
    background: none;
    border-color: var(--text-color);
    color: var(--text-color)
}
.Username {
    cursor: default;
    color: var(--text-color);
    text-shadow: 0px 0px 15px rgba(0,0,0,1);
}
.App {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    background: var(--background) var(--background-gradient-start) no-repeat 50%;
    background-size: cover
}
.App__content {
    -webkit-flex: 1 1;
    flex: 1 1
}
.Container--narrow {
    font-family: var(--text-font);
    -webkit-flex-grow: 1;
    flex-grow: 1;
    width: 700px;
    margin-left: auto;
    margin-right: auto
}
.Page {
    margin-top: 48px;
    margin-bottom: 24px
}
@media (max-width:731px) {
    .Container--narrow {
        width: calc(100% - 32px);
        margin-right: 16px;
        margin-left: 16px
    }
    .Page {
        margin-top: 24px
    }
}